<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Template de tabs ionic</h2>
    <p>
    This is the Ionic starter for tabs-based apps. For other starters and ready-made templates, check out the <a href="http://market.ionic.io/starters" target="_blank">Ionic Market</a>.
    </p>

    <div class="row">
      <div class="col">
        <button ng-click="showMsg()" class="button button-calm">
          Mostrar "Hola Mundo"
        </button>
      </div>
    </div>
    <h1> {{testText.value}} </h1>
  </ion-content>
</ion-view>
